<!doctype html>
<html lang=en>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% include "snips/css.html" %}
    {% include "snips/header-js.html" %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{config.application.title}}</title>

  </head>
  <body>
    {% set active_page = active_page|default('index') -%}
    <script>
    $.material.init()
    </script>
    
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{config.application.url}}">{{config.application.title}}</a>
          
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-right">
            <div id = "navlinks"> </div>
            {% if session and session['token'] and "gt" not in request.path %}

            <ul class="nav navbar-nav">
              <li><a href="/u/{{session['token']}}/upload">Upload Assignment</a></li>
              <li><a href="/u/{{session['token']}}/uploads">Check Submission</a></li>
              <li><a href="/r/{{session['token']}}/download">Download Resources</a></li>
            </ul>
              {% endif %}
<!--
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" 
                data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            -->
          <!--
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>
            <li><a href="../navbar-fixed-top/">Fixed top</a></li>
          </ul>
        </div>  --> <!--/.nav-collapse -->
      </div>
    </nav>

    <div class = "container">
      <div class = "row">
        {% block body %}{% endblock %}
      </div>
    </div>
      {% include "snips/footer-js.html" %}

  <script>
      
    function showNav () {
      console.log(Date.now);
      
    {% if session and session['token'] %}
      $("#navlinks").append($("ul").attr("class", "nav navbar-nav"))
      $("#navlinks").append($("li").append($("a").attr("href", "/u/{{session['token']}}/upload").text("Check")))

      {#
    <ul class="nav navbar-nav">
      <li><a href=>Uploads</a></li>
      <li><a href="/u/{{session['token']}}/uploads">Check</a></li>
      <li><a href="/r/{{session['token']}}/download">Resources</a></li>
    </ul>
        #}
      {% endif %}    
    };
    // window.onload=showNav;
  </script>
  </body>
  
</html>
