{% extends "base.html" %}

{% block body %}

  <div class = "row">
    <div class = "col-md-6 col-md-offset-3">

    <h2> {{meta['name']}}</h2>
    
    <h3> Upcoming Assignments </h3>
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th> <b>Assingment ID</b> </th>
          <th> <b>Name</b> </th>
          <th> <b>Due Date</b> </th>
        </tr>
      </thead>
      <tbody class = ".table-striped">
        {% for a in upcoming %}
          <tr>
          <td>
            <a href = "/foo" download>
              {{a['id']}}
            </a>
          </td>
            <td>
                {{a['name']}}
            </td>
            <td>
              {{a['due']}}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <h3> Past Due Assignments </h3>
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th> <b>Assingment ID</b> </th>
          <th> <b>Name</b> </th>
          <th> <b>Due Date</b> </th>
        </tr>
      </thead>
      <tbody class = ".table-striped">
        {% for a in past %}
          <tr>
          <td>
            <a href = "/foo" download>
              {{a['id']}}
            </a>
          </td>
            <td>
                {{a['name']}}
            </td>
            <td>
              {{a['due']}}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    </div>
  </div>


{% endblock %}
