{% extends "base.html" %}

{% block body %}
<style>
.centered {
    width: 600px;
    height: 100px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
</style>

{% include "snips/flash.html" %}
{% set active_page = "getemail" %}

<div class = "centered">
  <form action = "/gt" method = "POST">
    <h3>Short-Form Email Address</h3>
    <em>For example, as a student, I would use jadudm@berea.edu, not matt_jadud@berea.edu</em>
    <div class="form-group">
      <input  type = "email"
              class = "form-control"
              id = "email"
              name = "email"
              placeholder = "Email (must be @berea.edu)"
              {% if email %}
                value = "{{email}}"
              {% endif %}
              >
    </div>
    <button type="submit" class="btn btn-info btn-raised">Request Submission Token</button>
  </form>
</div>


{% endblock %}
