{% extends "base.html" %}

{% block body %}
<style>
.centered {
    width: 500px;
    height: 100px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
</style>

<div class = "centered">
  <form action = "/gt" method = "POST">
    <h2>Short-form email address</h2>
    <div class="form-group">
      <input  type = "email"
              class = "form-control"
              id = "email"
              name = "email"
              placeholder = "Email (must be @berea.edu)">
    </div>
    <button type="submit" class="btn btn-default">Request Submission Token</button>
  </form>
</div>


{% endblock %}
