<p>
  I am the Assignment Submission Bot. You can reply, but I won't answer.
</p>
<p>I can help you with one of three things:</p>
<ul>
  <li>You can <a href="{{urls.upload}}">upload an assignment</a>.</li>
  <li>You can <a href="{{urls.download}}">check what you've submitted</a>.</li>
  <li>You can <a href="{{urls.course}}">download assignments from a course</a>.</li>
  <li>You can <a href="{{urls.resourceup}}">upload new resources</a>.</li>
  <li>You can <a href="{{urls.resourcedown}}">download a resource for a course</a>.</li>
  <li>You can <a href="{{urls.admin}}">use the admin interface to create things</a>.</li>
  
</ul>
<p>That's it! Those links are good for {{config.application.tokenTimeout}} minutes.
   If you run out of time, you can always
   <a href="{{config.application.url}}">come back and start again</a>.
</p>
<p>{{random_signature}},<br>
Assignment Submission Bot</p>
