{% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"> Guru Meditation Error #{{session['gurumeditation']}}</h4>
        </div>
        <div class="modal-body">
          {{messages[0]}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    function showModal() {
      $('#myModal').modal('toggle')
    }
    window.onload = showModal;
    </script>
  {% endif %}
{% endwith %}
