<!--
  <script src="{{ url_for('static', filename = 'js/throbber.js') }}"></script>
-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
 <!-- Material Design fonts -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

<script src="{{ url_for('static', filename = 'js/jquery-2.2.4.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>

<script src="{{ url_for('static', filename = 'js/material.min.js') }}"></script>