{% extends "base.html" %}

{% block body %}
<style>
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
</style>

<script>
  var coursearray = [];
</script>

{% include "snips/flash.html" %}

{% set noassigns = 0 %}

<form action  = "/s/{{token}}/upload/assignid/error"
      method  = "POST"
      enctype = "multipart/form-data"
      id      = "the-form"
      class   = "well"
      >
  <div class = "row">
    <div class = "col-md-3"> </div>
    <div class = "col-md-6">

        <div class="form-group">
          <label for = "course">Select Course</label>
          <select class     = "form-control"
                  id        = "course"
                  name      = "course"
                  onchange  = "setFormAction()"
                  >
            {% for c in config[token].courses %}
                  <option value = "{{c.abbreviation}}">{{c.abbreviation}}: {{c.name}}</option>
                  <script>
                    // console.log("length: " + courses.length)
                    if (coursearray.length == 0) {
                      // console.log("IN IF");
                      var url = "/r/{{token}}/add/{{c.abbreviation}}"
                      $("#the-form").attr("action", url)
                    }
                    coursearray.push("{{c.abbreviation}}");
                  </script>
              {% endfor %}
          </select>
      </div>
    </div>

    <div id = "submitdiv" class = "col-md-3">
      <div style = "padding-top: 25px;">
        <label class="alert-info btn btn-primary btn-file btn-raised">
          Browse for File
          <input  id        = "file"
                  name      = "file"
                  type      = "file"
                  style     = "display: none;"
                  onchange  = "showFiles();"
                  >
        </label>
      </div>
    </div>
  </div> <!-- /row -->
  <div class = "row">
    <div class = "col-md-3"> </div>
    <div class = "col-md-6">
      <div class="form-group">
        <label for="filedesc" class="col-form-label">File Description</label>
        <input class="form-control" type="text" id="filedesc" name = "filedesc">
      </div>
    </div>
  </div>
  <!--
  <div class = "row">
    <div class = "col-md-6 col-md-offset-3">

      <div class = "row" id = "message" style = "margin-top: 20px;">
        <i>For multi-file uploads, create a .zip, .tar, or .tgz.</i>
      </div>
    </div>
  </div>
  -->

  <div class = "row>">
    <div class = "col-md-3"> </div>
    <div class = "col-md-6 text-right">
      <button type="submit" class="btn btn-default btn-raised">Upload File</button>
    </div>
  </div>
</form>

<script>
function showFiles () {
  console.log();
  $("#message").html("<p><b>Files selected for upload</b>: </p>");
  fs = $('#files').get(0).files;
  // types = "{{ config.filetypes | join(',')}}".split(",");
  style = "";

  for (i = 0; i < fs.length ; i++) {
    $("#message").append("<p style = '" + style + "'>" + fs[i].name + "</p>");
  }
}

function setFormAction () {
  courseNdx = $("#course").prop('selectedIndex');
  console.log("Setting form action to: " + coursearray[courseNdx]);

  var url = "/r/{{token}}/add/" + coursearray[courseNdx];
  $("#the-form").attr("action", url);
  console.log("Form Action is: " + $("#the-form").attr("action"));
}

</script>

{% endblock %}
