{% extends "base.html" %}

{% block body %}

{% for c in courses %}
{% set abbrev = c.course.abbreviation %}
<div class = "row">
  <div class = "col-md-6 col-md-offset-3">
  <h2>{{abbrev}}: {{c.course.name}}</h2>
  <!-- {{resources}} -->

  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th> <b>Description</b> </th>
        <th> <b>Filename</b> </th>
        <th> <b>Date Uploaded</b> </th>
      </tr>
    </thead>
    <tbody class = ".table-striped">
      {% for f in resources[abbrev] %}
        {% if f.course.abbreviation == c.course.abbreviation %}
        <tr>
        <td>
          <a href = "/r/{{token}}/download/{{f.uid}}" download>
            {{f.description}}
          </a>
        </td>
          <td>
              {{f.filename}}
          </td>
          <td>
            {{f.timestamp.strftime("%Y/%m/%d %H:%M")}}
          </td>
        </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>
{% endfor %}

{% endblock %}
