{% extends "base.html" %}

{% block body %}

<div>
  <strong>FIXME</strong>: This is the view for the function <strong style="color: red;">downloadfile</strong>.
</div>

<div>
  <strong>FIXME</strong>: It serves the route <strong style="color: red;">/d/<string:tok>/download/<string:filename></strong>.
</div>

{% endblock %}
