{% extends "base.html" %}

{% block body %}

<div>
  <strong>FIXME</strong>: This is the view for the function <strong style="color: red;">downloadResource</strong>.
</div>

<div>
  <strong>FIXME</strong>: It serves the route <strong style="color: red;">/r/<string:tok>/download/<int:rid></strong>.
</div>

{% endblock %}
