{% extends "base.html" %}

{% block body %}
<h1>Download All Files for a Course</h1>

{% for p in courses %}
{% set acnt = model.Assignment.select().where(model.Assignment.course == p.course.abbreviation).count() %}
{% if acnt > 0 %}
<div class = "well">

  <h1>{{p.course.abbreviation}}: {{p.course.name}}</h1>

  <div class = "row">
    <div class = "col-md-6">
      <b>Assignment</b>
    </div>
    <div class = "col-md-3">
      <b>Number of Submissions</b>
    </div>
  </div>
    {% for a in model.Assignment.select().where(model.Assignment.course == p.course.abbreviation) %}
        <div class = "row">
          <div class = "col-md-6">
            <a href="/d/{{session['token']}}/download/assign/norepeat/{{a.uid}}">
              {{a.course.abbreviation}}: {{a.name}}
            </a> (<a href="/d/{{session['token']}}/download/assign/all/{{a.uid}}">all</a>)
          </div>
          <div class = "col-md-3">
            {{model.Upload.select().join(model.Assignment).where(model.Assignment.uid == a.uid).group_by(model.Upload.email).having(model.Upload.timestamp  == fn.MAX(model.Upload.timestamp)).count() }}
          </div>
        </div>
    {% endfor %}
		
		<hr>
		<h4>Download for individual students in this course</h4>
		{% for stu in model.Permission.select().order_by(model.Permission.email) %}
			{% if stu.course.abbreviation == p.course.abbreviation %}
				<li> <a href="/u/{{session['token']}}/uploads/{{stu.email}}">{{stu.email}}</a>
			{% endif %}
		{% endfor %}
		
  </div>
{% endif %}
<!-- Now, list the students in the course -->
  {% endfor %}
{% endblock %}
