{% extends "base.html" %}

{% block body %}

<div>
  <strong>FIXME</strong>: This is the view for the function <strong style="color: red;">enrollStudent</strong>.
</div>

<div>
  <strong>FIXME</strong>: It serves the route <strong style="color: red;">/e/<string:tok>/enroll/<string:email>/<string:abbreviation></strong>.
</div>

{% endblock %}
