{% extends "base.html" %}

{% block body %}

<style>
.centered {
    width: 500px;
    height: 100px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
</style>

<div class = "centered">
  <a href = "/s/{{session['token']}}/download/zip/{{session['zipfile']}}">{{session['zipfile']}}</a>
  </form>
</div>


{% endblock %}
