{% extends "base.html" %}

{% block body %}

<div>
  <strong>FIXME</strong>: This is the view for the function <strong style="color: red;">listCourses</strong>.
</div>

<div>
  <strong>FIXME</strong>: It serves the route <strong style="color: red;">/e/<string:tok>/listcourses</strong>.
</div>

{% endblock %}
