{% extends "base.html" %}

{% block body %}
<!-- uploadcourseview.html -->

<style>
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
</style>

<script>
  var assignments = [];
</script>

{% include "snips/flash.html" %}

{% set noassigns = 0 %}

<script type="text/javascript">
function assignChoose (token, aid) {
  console.log(aid);
  $('#assignment').attr('value', aid);
  performClick('files');
  showFiles();
  $("#the-form").attr('action', "/u/" + token + "/upload/assignid/" + aid)
}


function performClick(elemId) {
   var elem = document.getElementById(elemId);
   if(elem && document.createEvent) {
      var evt = document.createEvent("MouseEvents");
      evt.initEvent("click", true, false);
      elem.dispatchEvent(evt);
   }
}
</script>

<form action  = "/u/{{token}}/upload/assignid/error"
      method  = "POST"
      enctype = "multipart/form-data"
      id      = "the-form"
      >

  <div class = "row">
    <div class = "col-md-3"> </div>
    <div class = "col-md-6 well">

      <h2>Select Assignment, Upload Files</h2>
      <div>
          <b>Allowed filetypes:</b> <br>
          {{ config.filetypes | join(', ')}}
      </div>
      <div class = "row" id = "message" style = "margin-top: 20px;">
      </div>
      
      
      {% for c in config[token].courses %}
        {% set count = [0] %}
        {% for a in config[token].assignments %}
          {% if c.abbreviation | string() == a.course | string() %}
            {% if count.append(count.pop() + 1) %}{% endif %} {# increment count by 1 #}
          {% endif %}
        {% endfor %}
      
      {% if count[0] > 0 %}
        <h3>{{c.abbreviation}}: {{c.name}}</h3>
        <ul>
          {% for a in config[token].assignments %}
            {% if c.abbreviation | string() == a.course | string() %}
              <li><a href="#" onclick = "assignChoose('{{token}}', '{{a.uid}}')">{{a.name}}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
      
      <input  id        = "files"
              name      = "files[]"
              type      = "file"
              style     = "display: none;"
              onchange  = "showFiles();"
              multiple
              hidden
              >
      <input id = "assignment" name = "assignment" type = "hidden">
      
          <!--
          <label for = "assignment">Select Assignment</label>
          <select class     = "form-control"
                  id        = "assignment"
                  name      = "assignment"
                  onchange  = "setFormAction()"
                  >
            {% for c in config[token].courses %}
            <h3>{{c.abbreviation}}: {{c.name}}</h3>
            
              {% for a in config[token].assignments %}
                {% if c.abbreviation | string() == a.course | string() %}
                  <option value = "{{a.uid}}">{{a.course}}: {{a.name}}</option>
                  <script>
                    // console.log("length: " + assignments.length)
                    if (assignments.length == 0) {
                      // console.log("IN IF");
                      var url = "/u/{{token}}/upload/assignid/" + {{a.uid}}
                      $("#the-form").attr("action", url)
                    }
                    assignments.push([{{a.uid}}, "{{a.course.abbreviation}}", "{{a.name}}"]);
                  </script>
                  {% endif %}
              {% endfor %}
              {% endfor %}
          </select>
            -->

        </label>
        <div class = "col-md-offset-8">
          <button type="submit" class="btn btn-default btn-raised">Upload Files</button>
        </div>
      </div>

      
    </div> <!-- col-6 well -->
  </div> <!-- Row --> 
</form>

<script>
function showFiles () {
  console.log();
  $("#message").html("<p><b>Files selected for upload</b>: </p>");
  fs = $('#files').get(0).files;
  types = "{{ config.filetypes | join(',')}}".split(",");

  for (i = 0; i < fs.length ; i++) {

    style = "color: red;"
    for (t = 0 ; t < types.length; t++) {
      if (fs[i].name.indexOf(types[t]) !== -1) {
        console.log("Found: " + types[t]);
        style = "";
      }
    }
    $("#message").append($("<ul id='filelist'>"));
    $("#filelist").append("<li style = '" + style + "'>" + fs[i].name + "</li>");
  }
}

function setFormAction () {
  assignmentNdx = $("#assignment").prop('selectedIndex');
  console.log("Setting form action to: " + assignments[assignmentNdx]);

  var url = "/u/{{token}}/upload/assignid/" + assignments[assignmentNdx][0]
  $("#the-form").attr("action", url)
}

</script>

{% endblock %}
