{% extends "base.html" %}

{% block body %}
{% include "snips/flash.html" %}

<div class = "row">
  <h1>Files Uploaded</h1>
</div>

<div class = "row">

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th> <b>Filename</b> </th>
      <th> <b>Assignment</b> </th>
      <th> <b>Course</b> </th>
      <th> <b>Date Submitted</b> </th>
    </tr>
  </thead>
  <tbody class = ".table-striped">
{% for u in config[token].uploads %}
  <tr>
    <td> <a href = "/d/{{token}}/download/{{u.assignment.course}}/{{u.filepath}}" download>
      {{u.filename}}
      </a>
    </td>
  <td>
    {{u.assignment.name}}

  </td>
  <td>
    {{u.assignment.course}}

  </td>
  <td>
    {{u.timestamp.strftime("%Y/%m/%d %H:%M")}}
  </td>
{% endfor %}
</tbody></table></div>

<div class = "row">
  <p>
    You can <a href="/u/{{token}}/upload">upload more assignments</a>
    or exit. Exiting is managed by leaving this page.
  </p>
  <p>
    Thank you kindly for your custom.
  </p>
</div>
{% endblock %}
